

@import url('https://fonts.googleapis.com/css?family=Stardos+Stencil&display=swap');


.store {
  background: #eeeeee;
  width: 85%;
  margin: 0 auto;
  h1 {
    font-size: 2em;
    padding-left: .48em;
    font-weight: bold;
  }
  ul.catalog {
    padding: 1em;
    border-top: solid 0.250em;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 1em;
      margin: 1em;
      border-bottom: solid thin #ddd;

      // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
      img {
        margin: 1em 2em 2em 0;
        box-shadow: 0.175em 0.175em 0.354em rgba(0,0,0,0.75);
        @media (min-width: 40em) {
          float: left;
        }
      }
      .price {
        padding: .5em;
        overflow: hidden;

        h3 {
          font-size: 1.5em;
          font-family: 'Stardos Stencil', cursive;
        }

        .button {
          background-color: #c47135;
          border: none;
          color: #ffffff;
          outline: none;
          padding: 10px 15px;
          position: relative;
        }
        .button:before,
        .button:after {
          border: 0 solid transparent;
          transition: all 0.25s;
          content: '';
          height: 24px;
          position: absolute;
          width: 24px;
        }
        .button:before {
          border-top: 2px solid #c47135;
          left: 0px;
          top: -5px;
        }
        .button:after {
          border-bottom: 2px solid #c47135;
          bottom: -5px;
          right: 0px;
        }
        .button:hover:before,
        .button:hover:after {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}